<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="bagfile" default="2021-12-04-13-51-31.bag" />

    <!-- Play rosbag record -->
    <node 
        pkg="rosbag"
        type="play"
        name="player"
        output="screen"
        args="--clock --loop $(find lidar_camera_calibration)/bagfiles/$(arg bagfile)" />


</launch>
